
    
        h1, h2, h3,h4 ,h5 ,h6,p,b, span  {
            font-family: monospace;
            font-optical-sizing: auto;
            font-style: normal;
            text-decoration: none;
            color:#a3a3a7cb;
        }
        a
        {
            font-family: monospace;
            font-optical-sizing: auto;
            font-style: normal;
            color:#a3a3a7cb;
        }
        body{
            background-image: url("https://cdn11.bigcommerce.com/s-7psb023nit/images/stencil/1200w/products/1649/49083/106585_TILE_01__01021.1773421682.jpg");
            background-repeat:repeat;
            background-size:25%;
        }
        .divdiv{
        }

    .gradient{
        height:3px;
        margin-top:15px;
        margin-bottom:15px;
        border-radius:7px;
        border-style: solid;
        background: linear-gradient(
            90deg,
            #000000 0%,
            #444444 25%,
            #888888 50%,
            #b4b4b4 75%,
            #ffffff 100%
        );
        border-color: linear-gradient(
            90deg,
            #000000 100%,
            #444444 75%,
            #888888 50%,
            #cccccc 25%,
            #ffffff 0%
        );
    }
    #name > h1{
        letter-spacing:10px !important;
        word-spacing: 10px;
        font-family: "Cinzel Decorative", serif;
    }
    #name > h1 > .he{
        letter-spacing:27px;
    }

        .innerDiv {
            background-color: #111114;
            box-shadow: 0px 0px 5px 2px #8f8f8f;
            border: #a3a3a7 solid 3px;
            border-radius:0px 0px 25px 25px;
            width:100%;
            display:table;
            table-layout: fixed;
            box-sizing: content-box;
        }
        .col{
            display: table-cell;
            vertical-align: top;
        }

        .col.w-30{
            border: 2px solid ;
            background-color: #000;
        }
        .pfp{
            margin:20px;
            background-color: #000;
        }

        .pfp > .photo
        {
            width:100%;
            border-style: solid;
            border-width: 15px;
            margin:-15px;
            border-image: url(https://64.media.tumblr.com/8b9650190f2b086e57681b959c776b13/b7a2535628e85ed9-9f/s100x200/9a79a4130543978856c0e7288e98613829916b76.pnj) 20% round;
            
            border-radius: 0px 15px 0px 15px;
        }
        .left{
            align-items: center;
            width:25%;
            text-align: center;
            box-shadow: 0px 0px 10px 2px #8f8f8f;            
            border-radius:0px 0px 25px 25px;
            background-image:url(https://i.pinimg.com/1200x/6f/24/c3/6f24c3eb859fdd406011f5d08c9e8df6.jpg);
        }
        marquee > img{
            height:60px;
            padding-top:5px;
        }
        marquee{
            background-color: #000000;
            background-image:url(https://i.pinimg.com/736x/ce/da/e1/cedae14c724379c2a9e8aaa99a6fdf93.jpg);
        }
        .marqborder, .guestbook > iframe, .introdiv
        {
            border-style: solid;
            border-width: 11px;
            border-image:url(https://64.media.tumblr.com/c6f6ebf27b73c4f4fdf353f4647bc3e5/b7a2535628e85ed9-2b/s250x400/a22f17b04b257812a6f72e8c790e938d69b091bb.pnj) 15% round;
            
        }
        #rightbar{
            
            box-shadow: 0px 0px 10px 2px #8f8f8f;
            border-radius:0px 0px 25px 25px;
            background-image:url(https://i.pinimg.com/1200x/6f/24/c3/6f24c3eb859fdd406011f5d08c9e8df6.jpg);
            width:25%;
        }
        #navblinkie
        {
            border: #a3a3a7 solid 2px;
            width:90%;
            margin:10px;
            
            border-radius:0px 0px 15px 15px;
        }
        .blinkies
        {
            align-items: center;
        }
        .topborder{
            background-size: contain;  
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 65px;
            position:fixed;
            z-index: 1;
            width: 100%;
            height: 50px;
            background-color: transparent;
            background-image:url(https://i.postimg.cc/ZRRv6b8V/image-2024-05-23-224708208.png);
        }
        
        #name {
            text-align:center;
            background-color: #000000e1;
            box-shadow: 0px 0px 5px 2px #8f8f8f;
            border: #a3a3a7 solid 3px;
            border-radius:25px 25px 0px 0px;
            background-image: url("https://lovecherryroman.neocities.org/things/sonabanner.png");
            background-repeat: round;
            height:421.1px;
        }
        .divvydiv{
          width:1000px;
          display: block;
          margin:auto;
          margin-top:-75px;
        }
        .leftblinkie
        {
        
            border: #a3a3a7 solid 2px;
            width:90%;
            margin:10px;
            
            border-radius:0px 0px 15px 15px;
        }
        .mainone
        {
            display: flex;
            justify-content: space-evenly;
            background-image: url("https://lovecherryroman.neocities.org/things/image(3).png");
            background-repeat:repeat;
            background-size:25%;
            border-radius:0px 0px 25px 25px;
            height:850px;
        }
        main{
            width:75%;
        }
        
        ul {
            list-style-image: url('https://lovecherryroman.neocities.org/things/Y6bpXVR.gif');
            list-style-type: circle;
        }
        li > a{
            color:rgb(211, 210, 210);
            font-family: monospace;
            font-size:133%;
            padding:5px;
            
        }
        .musics > img
        {
            width:50%;
        }
        main > h1{
            font-family: "Cinzel Decorative", serif;
            letter-spacing:10px !important;
        }
        #header{
            display:none;
        }
        
        .socialstuffimages > img
        {
            border-style: solid;
            border-width: 11px;
            border-image:url(https://64.media.tumblr.com/c6f6ebf27b73c4f4fdf353f4647bc3e5/b7a2535628e85ed9-2b/s250x400/a22f17b04b257812a6f72e8c790e938d69b091bb.pnj) 15% round;
            
        }
        .introdiv > div > .image{
            
            display: table-cell;
            vertical-align: top;
            align-items: center;
            width:25%;
            text-align: center;
            
        }
        .introdiv > div > .text{
            
            display: table-cell;
            vertical-align: top;
            align-items: center;
            text-align: center;
            
        }
        .introdiv > div > div>  img{
            width:150px;
            margin:15px;
            margin-bottom:-15px;
            border-style: solid;
            border-width: 11px;
            border-image:url(https://64.media.tumblr.com/c6f6ebf27b73c4f4fdf353f4647bc3e5/b7a2535628e85ed9-2b/s250x400/a22f17b04b257812a6f72e8c790e938d69b091bb.pnj) 15% round;
            
        }
        .headermarquee
        {
                        
            animation: marq 33s linear;
            animation-iteration-count: infinite;
            display: flex;
            flex-direction: row;
            width: 449rem;
            text-rendering: optimizespeed;
        }
@keyframes marq {
  from{transform: translate(920px, 0px); }
  to{transform: translate(-3200px, 0px); }
}